h1 {
    font-family: 'lobster', cursive;
}

h2 {
    font-family: 'lobster', cursive;
}

h3 {
    font-family: 'lobster', cursive;
}

h4 {
    font-family: 'lobster', cursive;
}

h5 {
    font-family: 'lobster', cursive;
}